:root {
  --qwik-dark-blue: #006ce9;
  --qwik-light-blue: #ff80df;
  --qwik-light-purple: #ac7ff4;
  --qwik-dark-purple: #713fc2;
  --qwik-dirty-black: #1d2033;
  --qwik-dark-background: #ffffff;
  --qwik-dark-text: #7303fc;
}

html {
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
    scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  line-height: inherit;
}

html {
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

body {
  padding: 0;
  line-height: inherit;
}

/* SHELL ---------------------------------------- */
html {
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

body {
  background: var(--qwik-dark-background);
  color: var(--qwik-dark-text);
  overflow-x: hidden;
}

/* HEADINGS ------------------------------------- */
h1,
h2,
h3 {
  color: var(--qwik-dark-text);
  margin: 0;
}

h1 {
  font-size: 3.2rem;
  text-align: center;
}
p .highlight,
h1 .highlight,
h3 .highlight {
  color: var(--qwik-dark-text);
}

h2 {
  font-weight: 400;
  font-size: 2.4rem;
}
h2 .highlight {
  font-weight: 700;
}

h3 {
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3.4rem;
  }
  h3 {
    font-size: 3rem;
  }
}

/* TAGS ----------------------------------------- */
a {
  text-decoration: none;
  color: var(--qwik-light-blue);
}

code {
  background: rgba(230, 230, 230, 0.3);
  border-radius: 4px;
  padding: 2px 6px;
}

ul {
  margin: 0;
  padding-left: 20px;
}

/* CONTAINER ------------------------------------ */
.container {
  margin: 0 auto;
  padding: 0.5em;
}
.container.container-purple {
  background: var(--qwik-light-purple);
}
.container.container-dark {
  background: var(--qwik-dark-background);
  color: var(--qwik-dark-text);
}
.container.container-center {
  text-align: center;
}
/* .container.container-flex { */
/*   /* does nothing on mobile */ */
/* } */
.container.container-spacing-xl {
  padding: 1em;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 1em;
  }
  .container.container-spacing-xl {
    padding: 100px 60px;
  }
  .container.container-flex {
    display: flex;
    justify-content: center;
    gap: 60px;
  }
}

/* BUTTONS -------------------------------------- */
a.button,
button {
  background: #7303fc;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  padding: 15px 20px;
  text-align: center;
}

a.button.button-dark,
button.button-dark {
  background: var(--qwik-dirty-black);
}

a.button.button-small,
button.button-small {
  padding: 15px 25px;
}

@media screen and (min-width: 768px) {
  a.button,
  button {
    font-size: 1rem;
    padding: 23px 35px;
  }
}

/* DESIGN --------------------------------------- */
.ellipsis {
  position: absolute;
  top: 100px;
  left: -100px;
  width: 400px;
  height: 400px;
  background: radial-gradient(
    57.58% 57.58% at 48.79% 42.42%,
    rgba(244, 175, 212, 0.5) 0%,
    rgba(223, 180, 242, 0) 63.22%
  );
  transform: rotate(5deg);
  opacity: 1;
  z-index: -1;
}
.ellipsis.ellipsis-purple {
  top: 500px;
  left: -100px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(172, 127, 244, 0.5) 0%,
    rgba(21, 25, 52, 0) 100%
  );
  transform: rotate(-5deg);
}

@media screen and (min-width: 768px) {
  .ellipsis {
    top: -100px;
    left: 350px;
    width: 1400px;
    height: 800px;
  }
  .ellipsis.ellipsis-purple {
    top: 1300px;
    left: -200px;
  }
}

.icon:before {
  width: 18px;
  height: 18px;
  content: "";
  display: inline-block;
  margin-right: 20px;
  position: relative;
  top: 2px;
}

.header {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: inline-block;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 30px;
}

.header li {
  display: none;
  margin: 0;
  padding: 0;
  font-size: 0.7rem;
}

.header li a {
  color: white;
  display: inline-block;
  padding: 0;
  text-decoration: none;
}

.header li a:hover {
  color: var(--qwik-light-blue);
}

@media (min-width: 450px) {
  .header li {
    display: inline-block;
  }
}

.hero {
  display: flex;
  vertical-align: middle;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  height: 450px;
  justify-content: center;
  gap: 40px;
}

.hero {
  display: flex;
  vertical-align: middle;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  height: 450px;
  justify-content: center;
  gap: 40px;
}
.hero-image {
  width: 100%;
  position: absolute;
  height: auto;
  object-fit: cover;
  z-index: -1;
  opacity: 0.2;
  pointer-events: none;
}

.hero p {
  color: white;
  margin: 0;
  font-size: 1rem;
}

.button-group {
  display: flex;
  flex-direction: row;
}

@media screen and (min-width: 768px) {
  .hero {
    gap: 50px;
    height: 550px;
  }

  .hero p {
    font-size: 1.3rem;
  }
}

.anchor {
  color: white !important;
  display: block;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  line-height: 1.5;
}

.anchor span:not(.spacer) {
  display: block;
}

.spacer {
  display: none;
  padding: 0 15px;
}

@media screen and (min-width: 768px) {
  .anchor span {
    display: inline !important;
  }
}

.sociallinks {
  color: black;
  justify-content: center;
  display: flex;
}

.sociallinks a {
  color: black;
  font-size: 24px;
}

.containerSpaceBetween {
    display: flex;
    column-gap: 20px;
    align-items: center;
    justify-content: space-between;
}
